body{
  font-family: 'Open Sans', sans-serif;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn{
  border-radius: 1.078em;
}

#map {
  height: 400px;
  width: 100%;
 }
 .cuadro{
   background-image: url('http://localhost/evento/img/banner.png');
   background-size: cover;
   width: auto;
   height: 350px;
 }
 .perfil{
   width: 200px;
   height: 200px;
   border-radius: 50%;
 }
 .logo{
   width: 100%;
   height: auto;
 }

.input-evento{
  width: 80%;
}

.carta-titulo{
  background-color: #5bc0de;
  color: #fff;
  font-weight: bold;
}

.caja-cupon{
  height: 150px;
  margin-top: 50px;
}

.caja-interna{
  margin-top: 15px;
}

.boton-invitado{
  margin-bottom: 10px;
}
